# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Python
venv/
backend/venv/
*.pyc
__pycache__/
backend/backend/__pycache__/
backend/hackathon/__pycache__/

# Database
backend/db.sqlite3

# Env
.env
backend/.env
frontend/.env
.env.local

# OS
.DS_Store
Thumbs.db
